* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Georgia, serif;
  color: #333;
  font-size: 18px;
  line-height: 24px;
}
body .nav {
  width: 100%;
  height: 59px;
  position: fixed;
  z-index: 3;
  background: #eee;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.4s;
}
body .nav.active {
  opacity: 1;
}
body .nav ul {
  width: 410px;
  text-align: center;
  margin: 0 auto;
  list-style: none;
}
body .nav ul li {
  float: left;
  display: inline-block;
  line-height: 59px;
}
body .nav ul li a {
  display: inline-block;
  line-height: 59px;
  padding: 0 20px;
  color: #333;
}
body header {
  overflow: hidden;
  padding-bottom: 45%;
}
@media (min-width: 600px) {
  body header {
    padding-bottom: 42%;
  }
}
@media (min-width: 700px) {
  body header {
    padding-bottom: 40%;
  }
}
body header img {
  width: 100%;
  max-width: none;
  position: fixed;
  z-index: -1;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
body main {
  padding: 3em 0 4em 0;
  position: relative;
  background: #f5f5f5;
  box-shadow: 0px -10px 60px rgba(0, 0, 0, 0.3);
}
body main #down1 {
  position: absolute;
  left: 50%;
  top: -45px;
  animation-name: down1;
  animation-duration: 600ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes down1 {
  from {
    top: -45px;
  }
  to {
    top: -55px;
  }
}
body main img {
  width: 36px;
  opacity: 0.8;
}
body main .content {
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 500px) {
  body main .content {
    width: 80%;
  }
}
@media (min-width: 600px) {
  body main .content {
    width: 60%;
  }
  body main .content h1 {
    font-size: 50px;
    line-height: 1.125;
    margin-bottom: 40px;
  }
  body main .content p {
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: justify;
  }
}
body main #down2 {
  position: absolute;
  left: 50%;
  animation-name: down2;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes down2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.05;
  }
}
body #animator {
  width: 100%;
  height: 400px;
  background: rgba(38, 38, 38, 0.6);
  text-align: center;
  padding: 2em 0;
}
body #animator h1 {
  font-size: 50px;
  line-height: 1.125;
  color: white;
}
body #animator img {
  margin-top: 30px;
  width: 600px;
}
body #contact {
  width: 100%;
  background: #f5f5f5;
  text-align: center;
  padding: 2em 0;
}
body #contact .contactBox {
  width: 100%;
  height: 800px;
}
body #contact .contactBox h1 {
  font-size: 50px;
  line-height: 1.125;
}
body #contact .contactBox .wrapper {
  width: 600px;
  margin: 0 auto;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #contact .contactBox .wrapper .box {
  float: left;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background: #ff8330;
  will-change: transform;
}
body #contact .contactBox .wrapper .box:nth-of-type(2) {
  background: #E01B5D;
}
body #contact .contactBox .wrapper .box:nth-of-type(3) {
  background: #30FFFF;
}
body #contact .contactBox .wrapper .box:nth-of-type(4) {
  background: #B3FF30;
}
body #contact .contactBox .wrapper .box:nth-of-type(5) {
  background: #308AFF;
}
body #contact .contactBox .wrapper .box:nth-of-type(6) {
  background: #1BE059;
}

/*# sourceMappingURL=style.css.map */
